<app-seds-stepper linear>
  <app-seds-step icon="person" label="Teste 1">
    <p>Test 1</p>
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="First value"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button cdkStepperPrevious>Previous</button>
        <button mat-button cdkStepperNext>Next</button>
      </div>
    </form>
  </app-seds-step>
  <app-seds-step icon="photo" label="Teste 2">
    <p>Test 2</p>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Second value"
          formControlName="secondCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button cdkStepperPrevious>Previous</button>
        <button mat-button cdkStepperNext>Next</button>
      </div>
    </form>
  </app-seds-step>
  <app-seds-step icon="photo" label="Teste 3">
    <p>Test 3</p>
    <button mat-button cdkStepperPrevious>Previous</button>
    <button mat-button cdkStepperNext>Next</button>
  </app-seds-step>
  <app-seds-step icon="photo" label="Teste 4">
    <p>Test 4</p>
    <button mat-button cdkStepperPrevious>Previous</button>
    <button mat-button cdkStepperNext>Next</button>
  </app-seds-step>
</app-seds-stepper>
